<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/style/style.css" rel="stylesheet">
    <title>En cours</title>
</head>
<header>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>
      
        
        <!-- menu items -->
        <div class="menu">
          <ul>
            <li>
              <a href="accueil.html">
                Accueil
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="savoir_plus.html">
                En savoir plus
              </a>
            </li>
            <li>
              <a href="page1.html">
                1980-1990
              </a>
            </li>
            <li>
              <a href="page2.html">
                1990-1998
              </a>
            </li>
            <li>
              <a href="page3.html">
                1999-2008
              </a>
            </li>
            <li>
              <a href="page4.html">
                2008-2021
              </a>
            </li>
            <li>
              <a href="en_cours.html">
                Spectacle en cours
              </a>
            </li>
            <li>
              <a href="calendar.html">
                Calendrier
              </a>
            </li>
            <li>
              <a href="carousel.html">
                Album photos
              </a>
            </li>
            <li>
              <a href="videos.html">
                Vidéos
              </a>
            </li>
          </ul>
        </div>
      </nav>
</header>
<body>
    <section class="page">

   

        <div class="container">
            
            <div class="affiche">
                <img src="../assets/images/Compromis.jpg" alt="Affiche pièce compromis">
            </div>
        
            <br>
        
            <p>
                "Deux amis, un appartement vide. L'un est un comédien médiocre, l'autre un dramaturge raté. Ils sont là pour la vente de l'appartement.
                <br>
                En attendant l'acheteur, ils discutent, se flattent, se taquinent, puis se blessent... 
               <br> 
                Un règlement de comptes farcesque mais sans concession, devant l'acheteur qui finit par arriver. Va-t-il en demeurer le spectateur, en devenir l'arbitre ou en être au final la seule victime ?" 
            </p>
        
            <div class="medias">
            <table>
                <tr>
                    <td><a href="https://www.midilibre.fr/2024/04/23/un-retour-sur-les-planches-pour-tkb-avec-compromis-11907017.php">
                        <img src="../assets/images/journal006.gif" alt="Image journal de presse"></a></td>
                    <td><a href="../templates/compromis_video.html">
                        <img src="../assets/images/camera010.gif" alt="Image caméra"></a></td>
                    <td><a href="compromis_carousel.html">
                        <img src="../assets/images/objets14.gif" alt="Image appareil photo"></a></td>
                </tr>
                <tr>
                    <td>Articles de Presse</td>
                    <td>Clip Video</td>
                    <td>Photos</td>
                </tr>
            </table>
            </div>
        
            <br>
        
            <h2>DISTRIBUTION</h2>
        
            <table class="distribution">
                
                <tr><td>Claude TEISSIER :</td><td>Denis</td></tr>
                <tr><td>Robert COUFFIGNAL :</td><td>Martin</td></tr>
                <tr><td>Christian RIGAUD :</td><td>Mr Duval</td></tr>
        
            </table>
        
            <br>
        
            <p><strong>Mise en scène et décors</strong></p>
            <p>Théâtre du Krypton Bleu (Travail collectif)</p>
        
            <p><strong>Régie Sons/Lumières</strong></p>
            <p>Arlette TEISSIER</p>
            <p>Bernadette COUFFIGNAL</p>
        
                
        </div>
        
        </section>
</body>

<div class="footer">
  
  <p>THEATRE DU KRYPTON BLEU</p>
  <p>3, rue des trois Teyran</p>
  <p>34820 TEYRAN</p>
  <p>Téléphone : 06 26 52 08 93</p>
  <p>E-mail : <a href="mailto:claudeteissier@sfr.fr">Contactez-moi !</a></p>
 
</div>

</html>




