<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/style/style.css" rel="stylesheet">
    <title>Page2</title>
</head>

<header>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>
      
        
        <!-- menu items -->
        <div class="menu">
          <ul>
            <li>
              <a href="accueil.html">
                Accueil
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="savoir_plus.html">
                En savoir plus
              </a>
            </li>
            <li>
              <a href="page1.html">
                1980-1990
              </a>
            </li>
            <li>
              <a href="page2.html">
                1990-1998
              </a>
            </li>
            <li>
              <a href="page3.html">
                1999-2008
              </a>
            </li>
            <li>
              <a href="page4.html">
                2008-2021
              </a>
            </li>
            <li>
              <a href="en_cours.html">
                Spectacle en cours
              </a>
            </li>
            <li>
              <a href="calendar.html">
                Calendrier
              </a>
            </li>
            <li>
              <a href="carousel.html">
                Album photos
              </a>
            </li>
            <li>
              <a href="videos.html">
                Vidéos
              </a>
            </li>
          </ul>
        </div>
      </nav>
</header>

<body>
    <section class="page">
        <div><img src="../assets/images/rideaugauchetheatre.png" alt="Image rideau gauche théâtre" class=" rideau-gauche"></div>
        <div class="container">
        <h1>1990-1998</h1>
    
        <ul>
            <li>Festival de Narbonne 1990</li>
            <li>Festival du Grau du Roi 1990 (Prix de la Mise en Scène)</li>
            <li>Festival Off d'Avignon 1991</li>
            <li>Arlequins de Cholet 1992</li>
            <li>Masque d'Or 1992 :
                <ul>
                    <li>Sélection Régionale (Grau Du Roi) 30</li>
                    <li>Sélection Inter-régionale (Colomiers) 31</li>
                    <li>Sélection Nationale (Rungis) 94</li>
                </ul>
            </li>
            <li>Festival 13 International (Paris - Septembre 93)</li>
            <li>Masque d'Or 1994 (dont la sélection a été interrompue en demi-finale) :
                <ul>
                    <li>Sélection Régionale (Castelnau-Le-Lez) 34 - (Qualifié en demi-finale)</li>
                </ul>
            </li>
            <li>Festival National de Narbonne (Juillet 94) 11</li>
            <li>Représentation à Erévan (Arménie) (du 28 septembre au 5 octobre 95) dans le
                cadre de relations culturelles qu'entretient le TKB avec l'Université d'Etat d'Erévan.</li>
            <li>Week-end Théâtre à Teyran en collaboration avec la MJC (Mai 96) 34</li>
            <li> "Regards d'Arménie" : Visite du Groupe Artistique de l'Université
                d'Etat  d'Erévan, invité par le TKB ;  présentation de la  pièce "Le Mystère
                du Trésor" d'après les Contes d'Hovahnès Toumanian  (Septembre 96)  34</li>
            <li>Festival  Départemental de Claret (Octobre 96) 34</li>
            <li>Organisation d'un Week-end Théâtre en collaboration avec  la 
                Municipalité et  la Commission Culture de Teyran (Teyran -Avril 98) 34</li>
            <li>Festilez  (Castelnau-le-Lez - Mars 98) 34</li>
            <li>Festival de Vailhauquès (Juillet 98) 34</li>
            <li>Participation à la soirée de Gala organisée à l'occasion des 6èmes
                journées  francophones de Classification -SFC'98- (Campus ENSA-INRA -
                Montpellier) avec présentation de la pièce :
            <ul>
                <li>"Les Palmes de Monsieur Schutz " (Septembre 98)  34 : Diaporama</li>
            </ul>
            </li>
            <li>3ème "scène Ouverte au Théâtre Amateur" (Théâtre d''O, Montpellier (Septembre 98)  34</li>
            <li>Festival Départemental de Claret (Octobre 98) 34</li>
            <li>Représentation des "Palmes de Monsieur Schutz"au théâtre Jean Vilar - Monpellier
                (Novembre 98) 34</li>
            <li>Soirée théâtrale organisée par la commission culture et la MJC de Clapiers avec
                représentation des "Palmes de Monsieur Schutz" (Décembre 98) 34</li>
        </ul>
    
        
    </div>
    <div><img src="../assets/images/rideaudroittheatre.png" alt="reideau droite théatre" class=" rideau-droite"></div>
    </section>
    
</body>

<div class="footer">
  
  <p>THEATRE DU KRYPTON BLEU</p>
  <p>3, rue des trois Teyran</p>
  <p>34820 TEYRAN</p>
  <p>Téléphone : 06 26 52 08 93</p>
  <p>E-mail : <a href="mailto:claudeteissier@sfr.fr">Contactez-moi !</a></p>
 
</div>

</html>


