<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/style/style.css" rel="stylesheet">
    <title>TKB</title>
</head>

<header>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>
      
        
        <!-- menu items -->
        <div class="menu">
          <ul>
            <li>
              <a href="accueil.html">
                Accueil
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="savoir_plus.html">
                En savoir plus
              </a>
            </li>
            <li>
              <a href="page1.html">
                1980-1990
              </a>
            </li>
            <li>
              <a href="page2.html">
                1990-1998
              </a>
            </li>
            <li>
              <a href="page3.html">
                1999-2008
              </a>
            </li>
            <li>
              <a href="page4.html">
                2008-2021
              </a>
            </li>
            <li>
              <a href="en_cours.html">
                Spectacle en cours
              </a>
            </li>
            <li>
              <a href="calendar.html">
                Calendrier
              </a>
            </li>
            <li>
              <a href="carousel.html">
                Album photos
              </a>
            </li>
            <li>
              <a href="videos.html">
                Vidéos
              </a>
            </li>
          </ul>
        </div>
      </nav>
</header>

<body>
    <body id="page-specifique"></body>

<div class="container">
    <h1>Vidéos du TKB</h1>

    <div><h3>Noces de sang</h3>
    <div class="video">
        <figure>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/86vYLOpq3Og?si=bzqemtVaoOqKAYji" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>Extrait</figcaption>
        </figure>
    </div>
    </div>

    <hr>
    
    <div><h3>La Grande Muraille</h3>
    <div class="video">
        <figure>
            <iframe width="120" height="90" src="https://www.youtube.com/embed/Bwupwdy0r4M?si=vQxBeYxswyNA2Gdm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <figcaption>Cléopâtre</figcaption>
        </figure>
    </div>
    </div>

    <hr>
    
    <div><h3>Délirium</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/votre_video_id" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>La Parade</figcaption>
            </figure>
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/KgoN5PR0gQ8?si=35JwkjEhu2sBEiCr" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>L'Oeuf dur</figcaption>
            </figure>
        </div>
        </div>
        
    <hr>
        
    <div><h3>Les Rats</h3>
        <div class="video">
            <figure>
                <iframe width="120" height="360" src="https://www.youtube.com/embed/DC8JRyR2D6s?si=JnvVEdRV7luMQu7I" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>

    <hr>
   
    <div><h3>Un Coin d'Azur</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/iS2NTv8kjhs?si=_9gHYOs4kiEzWr5q" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>La Pastorale</figcaption>
            </figure>
        </div>
    </div>

    <hr>
    
    <div><h3>Les Palmes de M. Schutz</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/xizeTdvMp9w?si=Ac_f1sHlFySJn4AC" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>

    <hr>
    
    <div><h3>La Mastication des Morts</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/c4ZFY1lcY3Q?si=zrTI910PANxJQ82v" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>
        
</div>

</body>

<div class="footer">
  
    <p>THEATRE DU KRYPTON BLEU</p>
    <p>3, rue des trois Teyran</p>
    <p>34820 TEYRAN</p>
    <p>Téléphone : 06 26 52 08 93</p>
    <p>E-mail : <a href="mailto:claudeteissier@sfr.fr">Contactez-moi !</a></p>
   
  </div>

</html>



